/* notie */
.notie-container {
    z-index: 100250;
    opacity: 0.85;
    box-shadow: none;
    height: 50px;
}

.notie-textbox-inner {
    line-height: 10pt;
    font-size: 14pt;
}

/* bootstrap toggle */
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #47b579;
}

/* placeholders */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: silver;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: silver;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: silver;
}

/* nav tabs */
.nav-tabs > li > a {
    color: #A7B1C2;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}